.header {}

.header .siteLogo {}


.menu-burger {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  gap: 0.5rem;
  margin: 0;
  border: none;
}

.menu-burger .logo {
  -webkit-margin-end: auto !important;
  margin-inline-end: auto !important;
  order: -1;
}

.menu-burger a {
  color: black;
  padding: 0.5rem;
  margin: 0.4rem;
  text-decoration: none;
  transition: all 1s;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.menu-burger .menu-separator::after {
  color: black;
  padding: 0.5rem;
  margin: 0.4rem;
  text-decoration: none;
  transition: all 1s;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.menu-burger .menu-separator::after {
  content: "|";
  display: grid;
}

/*
.container-grid span {
  background: grey;
  width: 5rem;
  display: inline-block;
  height: 1rem;
  color: white;
  text-align: center;
}
*/

.menu-burger ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 25px;
  margin: 0;
  list-style: none;
}

.menu-burger ul li {


  justify-content: space-evenly;

}

.menu__links-icones {
  flex-direction: row !important;
}

.menu__links-icones i.icones {
  margin: 0 0.5rem;
}

.menu-slider {
  color: #f6f6f6;
  z-index: 1;
  font-size: .8em;
  position: fixed;
  top: 1rem;
  right: 5%;
}

@media screen and (min-width: 576px) {
  .menu-slider {
    right: 5%;
  }
}


#trigger {
  cursor: pointer;
}

#triggered {
  height: 100vh;
  width: 30%;
  z-index: 1;
  text-align: left;
  background: #D0D0D0;
  transition: all .9s ease-in-out;
  position: fixed;
  top: 0;
  right: -50%;
}

#triggered.visible {
  right: 0;
  width: 100%;

}

#triggered .triggered-link {
  padding: 0;
  list-style: none;

  display: grid;
}

#triggered .triggered-link li:not(:first-child) {
  border: none;
  //border-bottom: 2px solid black;
  margin: 0 1em;
}

#triggered .triggered-link li:last-child {
  border-bottom: 0;
}

#triggered .triggered-link a {
  text-transform: capitalize;
  color: #212931;
  padding: 2.5rem 0;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}

#triggered .triggered-link a:hover {
  /*color: #D2E0D3;*/
}

#triggered .triggered-icon {
  margin: 1rem;
  padding: 0 1rem;
  list-style: none;
  display: flex;
}

#triggered .triggered-icon li {
  padding-right: .5em;
}

#triggered .triggered-icon .icon {
  color: #212931;
  height: 30px;
  width: 30px;
  font-size: .9em;
}

#triggered .triggered-icon .icon:hover {
  /*color: #D2E0D3;*/
}

#close {
  cursor: pointer;
  /*color: #D2E0D3;*/
  margin: 1rem 0;
  padding-right: 1rem;
  font-size: 1.2rem;
  display: block;
}

#close:hover {
  /*color: #D2E0D3;*/
  color: white;

}

.menu-mobile .fas.fa-bars,
.menu-mobile .fa-calendar-alt {
  color: black;
  padding: 01rem;

}

.mobile-logo-and-close {
  justify-content: space-between;

}

.mobile-logo-and-close a {
  margin-block: -2rem;
  margin-inline: 1rem;
}

#triggered .triggered-link li:not(:first-child) {
  display: grid;
  justify-content: end;
  justify-items: end;
  align-items: stretch;
}

#triggered .triggered-link a {
  padding: 1rem 0 0 0;
  display: flex;

}

.mobile-logo-and-close {
  order: -2;
  padding-block: 0 20rem;

}

.mobile-search {
  order: -2;

}

.mobile-schedule {
  order: -1;
}